body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.privacyP {
	width: 75%;
	color: #592700;
	text-indent: 5px;
	text-align: left;
}

.privacyC {
	width: 75%;
	color: #592700;
	text-align: justify;
	padding-left: 25px;
}

.paraNoIndent {
	width: 75%;
	color: #592700;
	text-align: left;
}

.paraSmall {
	width: 25%;
	color: #592700;
	text-align: left;
}

.paraNoIndent1 {
	width: 75%;
	color: #0ad10a;
	text-align: left;
}

.paraSmall1 {
	width: 25%;
	color: #9300e9;
	text-align: left;
}